.module {
  display: inline-block;
  padding: 0.4em 0.5em;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
  margin-bottom: 0.6em;
}

.module-mm1 {
  background-color: #009fff;
}

.module-mm2 {
  background-color: #0078ff;
}

.module-mse1 {
  background-color: #023e8a;
}

.module-mse2 {
  background-color: #023e8a;
}

.module-dynep {
  background-color: #e76f51;
}

.module-progr {
  background-color:     #ff9c59;
}

.module-rs {
  background-color: #ba9bfa;
}

.module-advrs {
  background-color: #8c70c4;
}

.module-seism {
  background-color: #1f3324;
}

.module-nm {
  background-color: #ff7e26;
}

.module-igp {
  background-color: #54b27e;
}

.module-fieldgps {
  background-color: #427659    ;
}

.module-geoinv {
  background-color: #011f4b;
}

.module-gmod {
  background-color: #f9717f;
}

.module-geodyn {
  background-color: #d25276;
}